@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .clip-polygon {
        clip-path: polygon(
            0% 40%, 20% 40%, 20% 20%, 40% 20%, 40% 0%,
            60% 0%, 60% 20%, 80% 20%, 80% 40%, 100% 40%,
            100% 60%, 80% 60%, 80% 80%, 60% 80%, 60% 100%,
            40% 100%, 40% 80%, 20% 80%, 20% 60%, 0% 60%
        );
    }
    
    .space-invader {
        @apply absolute w-8 h-8 bg-secondary-color clip-polygon animate-float;
    }

    .logo{
        @apply mb-4 text-xl md:text-2xl text-yellow-color relative py-2 px-3 bg-roxo-color border-2 border-yellow-color transform skew-custom;
    }
    .logo::before{
        content: '';
        @apply absolute -top-1 -left-1 -right-1 -bottom-1 border-2 border-secondary-color -z-10;
    }

    .nav-li{
        @apply flex flex-col gap-3 w-full list-none md:gap-5 md:flex-row;
    }
    .nav-li-a{
        @apply block text-center p-3 mb-1 text-secondary-color no-underline text-sm md:py-2 md:px-4 border-2 border-secondary-color bg-black/50 transition-all duration-300 relative;
    }
    .nav-li-a:hover{
        @apply text-black bg-secondary-color box-shadow-neon transform -translate-y-1;
    }

    #mainNav.active {
        @apply block;
    }

}

/*keyframe da animation space-invader*/
@keyframes float {
    0%, 100% { transform: translateY(0) translateX(0); }
    25% { transform: translateY(-20px) translateX(10px); }
    50% { transform: translateY(0) translateX(20px); }
    75% { transform: translateY(20px) translateX(10px); }
}

/* classe da animation space-invader */
@layer utilities {
    .animate-float {
        animation: float 6s ease-in-out infinite;
    }
    .skew-custom {
        transform: skew(-5deg);
    }
    .shadow-primary {
        text-shadow: 3px 3px 0 #ff0000, 6px 6px 0 #000000;
    }
    .box-shadow-neon {
        box-shadow: 0 0 15px #00ffff;
    }
}